.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  max-width: 1200px; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
}

.container {
  position: relative;
  min-height: 100vh;
  margin: 0 auto; /* Center the content horizontally */
}

.column-left {
  grid-column: 1 / 2;
  background-color: #003366; /* Dark Blue */
  padding: 20px !important;
}

.column-left, .column-left a {
  color: #ffffff !important; /* White */
}

.column-left .button {
  background-color: #0056b3; /* Navy Blue */
  border: none;
  color: #ffffff; /* White */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.column-right {
  grid-column: 2 / 3;
  padding: 20px !important;
}

.container {
  position: relative;
  height: 100vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #003366; /* Dark Blue */
  text-align: center;
  background-color: #ffffff; /* White */
}
