body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    width: 50%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 50%;
}

.output-area {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    resize: vertical;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

#inputText {
    width: calc(100% - 90px);
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    overflow-y: auto;
    box-sizing: border-box;
}

#submitButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

#submitButton:hover {
    background-color: #218838;
}
