.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  
  .column-left {
    grid-column: 1 / 2;
    background-color: #0074D4;
  }

.column-left-top {
    background-color: #0074D4;
    color: white;
    padding: 5px;
}

.column-left-top a {
    color: white !important;
}

.column-left-top .hire {
    display: inline-block !important;   /* Allows for padding to be applied effectively */
    background-color: white !important;
    color: red !important;
    padding: 10px 20px !important;      /* Provides spacing around the text */
    text-decoration: none !important;   /* Removes underline if it's an anchor tag */
}
  
  .column-right {
    grid-column: 2 / 3;
  }

.container {
    position: relative;
    height: 100vh;
}

.stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Adjust to 100% so it takes the full height of its parent (.container) */
}

image {
    width: 50px !important; 
    height: auto !important; 
}

.hire-dp {
    color: red;
}
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
  }
