.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  
  .column-left {
    grid-column: 1 / 2;
    background-color: blue;
  }

.column-left-top {
    background-color: blue;
    color: white;
    padding: 5px;
}

.column-left-top a {
    color: white !important;
}

.column-left-top .donation {
        color: red !important;
}
  
  .column-right {
    grid-column: 2 / 3;
  }

.top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; /* Ensure the image is on top of other elements, adjust as needed */
}

.stripe {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Take full viewport height */
}

.donation-dp {
    color: red;
}
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
  }
